.people {
    background: $blue;
    color: $textBlack;
    padding: 20px 0 70px;
    text-align: center;

    &__container {
        width: 90%;
        margin: 0 auto;
    }

    &__title {
        display: inline-block;
        margin: 0;
        color: $textBlack;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0;
        vertical-align: middle;
        text-transform: uppercase;
        text-align: left;

        &::before {
            content: url('../images/people.png');
            display: inline-block;
            margin-right: 5px;
            line-height: 22px;
            vertical-align: middle;
        }
    }

    &__table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        text-align: left;
        
        
        th,
        td {
            border-bottom: 1px solid #f1f1f1;
            padding: 6px 7px;
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;

            &:first-child {
                border-left: 1px solid $grey;
            }

            &:last-child {
               border-right: 1px solid $grey;
            }
        }

        tr:last-child td  {
            border-bottom: 1px solid $grey;
        }

        th {
            background: $blue2;
            border-top: 1px solid $grey;
            border-bottom: 1px solid $grey;
            text-align: left;
            font-weight: 300;
            font-size: 16px;
            line-height: 18px;
        }

        tr:nth-child(even) {
            background: #fbfbfb;
        }

        tr:nth-child(odd) {
            background: $white;
        }

        tr:first-child th:first-child {
          border-top-left-radius: 4px;
        }

        tr:first-child th:last-child {
          border-top-right-radius: 4px;
        }

        tr:last-child td:first-child {
          border-bottom-left-radius: 4px;
        }

        tr:last-child td:last-child {
          border-bottom-right-radius: 4px;
        }

        th:first-child,
        td:first-child {
            width: 58%;
        }

        th:not(:first-child),
        td:not(:first-child) {
            text-align: right;
            padding-right: 25px;
        }
    }

    &__rating {
        display: block;
        font-size: 18px;
        line-height: 25px;
        font-weight: 700;
        color: $textBlack;

        &::before {
            content: url('../images/rating.png');
            display: inline-block;
            margin-right: 5px;
        }
    }

    &__button {
        display: none;
    }

    &__name {
        color: #2c76c7;
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        vertical-align: middle;
    }

    &__button + label {
        cursor: pointer;
        margin-left: 5px;

        &::after {
            content: url('../images/plus.png');
            display: inline-block;
            line-height: 14px;
            vertical-align: middle;
            border-radius: 100%;
            background: transparent;
            transition: background 1s easeOutQuart;
        }  
    }

    &__button + label:hover::after {
        content: 'Follow';
        background: #a4c574;
        color: $white;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        padding: 0 10px;
        border-radius: 10px;
    }

    &__button:checked + label {

        &::after {
            content: url('../images/yes.png');
        }

        &:hover::after {
            content: 'Unfollow';
            background: #ff6b5a;
        }
    }

    &__photo {
        width: 48px;
        height: 48px;
        float: left;
        margin-right: 10px;
        background: url('../images/photos/defult.png') no-repeat center/cover;
        border-radius: 2px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__show-more {
        display: inline-block;
        padding: 10px 55px;
        border: 1px solid $grey;
        border-top: 1px dashed $grey;
        margin-top: -1px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: $textBlack;
        background: $white;
        font-weight: 700;
        font-size: 10px;
    }
}